/* IMPORTANT: full height */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

/* Center everything */
.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* Bigger loader */
.loader {
  transform: scale(1.6);
}

/* LEFT → RIGHT animated gradient text */
.gradient-text {
  font-size: 2.5rem;
  font-weight: 800;

 background: linear-gradient(
    90deg,
    #32cd32 0%,   /* green */
    #327fcd 25%,  /* blue */
    #cd32cd 50%,  /* purple */
    #cd8032 75%,  /* orange */
    #32cd32 100%  /* repeat green */
  );

  background-size: 600% 100%;
  background-position: 0% 50%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 9s linear infinite;
}

/* THIS is the movement */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
